/* Disable scroll */
body {
        background-color: #252525;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 95vw;
        height: 95vh;
}

.container {
        width: 1200px;
        height: 90%;
        padding: 0;
        margin: auto;
}

.box {
        background-color: #333333;
        overflow: visible;
        height: 190px;
        width: 1200px;
        font-size: 42px;
        font-family: '8BITWONDERNominal';
        color: #FFF;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
}

.music {
        padding: 0;
        margin: 0;
        float: left;
        width: 100%;
        height: 60%;
}

#music {
        height: 10vh;
}

#info {
        padding-top: 6vh;
        height: 10vh;
}

#error {
        padding-left: 10vw;
        float: left;
}

#error>* {
        font-weight: bold;
        font-family: '8BITWONDERNominal';
        font-size: 4vh;
        color: #FFFFFF;
}

#score {
        padding-right: 10vw;
        float: right;
}

#score>* {
        font-weight: bold;
        font-family: '8BITWONDERNominal';
        font-size: 4vh;
        color: #FFFFFF;
}

/*
#word {
	color: #FFFFFF;
	text-align: center;
	font-size: 2rem;
	height: 15vh;
	padding-top: 20vh;

}
*/
#buffer {
        border-color: #333333;
        border-style: solid;
        border-width: 25px;
        background-color: #444444;
        font-size: 6vh;
        font-family: '8BITWONDERNominal';
        color: #FFFFFF;
        height: 70px;
        width: 1120px;
        margin: 0 auto;
        padding: 0 15px 0 15px;
        overflow: hidden;
}